// Vector Colors
$vectorBlue:        #0e2240;
$vectorOrange:      #e75204;
$vectorLightOrange: #ee884d;
$vectorDarkBlue:    #040C17;
$vectorGrey:        #606f83;
$vectorLightGrey:   #f4f4f4;

// Vector Academy Colors
$vectorAcademyGrey: #637082;
